:root {
    --theme-color: white;
    --primary-color: rgb(134, 62, 62);
    --secondary-color: rgb(155, 153, 32);
    --text-color-inverse: rgb(255, 255, 255);
    --text-color: black;
    --navbar-shallow-color: rgb(54, 18, 18);
    --menu-mobile-background-color: rgb(46, 43, 43);
}

/*tope de scroll superior,*/
/*para que el contenido no tape el menu*/
section[id] {
    scroll-margin-top: 70px;                       
    /*border: 4px solid red;*/ /*INTERSECTION OBSERVER*/
}

html {
    scroll-behavior: smooth; /*suavizado de desplazamiento*/
}

/*INTERSECTION OBSERVER*/
/*.observer-root-margin {
    pointer-events: none;
    z-index: 900;
    border: 4px solid blue;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 70%;
}*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 100px;   /*espaciado porque sino la navbar tapa una parte*/
}

a {
    text-decoration: none;     /*ocultar linea azul automatica de links*/
    color: var(--text-color);
}

.padding-H {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-V {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px) {
    .padding-H {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .padding-V {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}