.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color); /*sombreado*/
    position: fixed;/*MOSTRAR SIEMPRE, INCLUSO AL SCROLLEAR*/
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;/*OCUPE TODO EL ANCHO DISPONIBLE*/
    opacity: 1;  
}

/* BARRA DE NAVEGAC SUPERIOR ---------------------------------*/
.topnav {
    display: flex;   /*por defecto lo ordena en fila*/
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

/*LOGO---------------------------------------------------------*/
.logo {
    display: flex;     /*ALINEAR HORIZONTALMENTE*/
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.logo img {
    border-radius: 50%;
    padding-right: 10px;
}

/*MENU---------------------------------------------------------*/
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 0 15px;
}
.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;   /*transformar en mayusculas*/
    position: relative;   /*posicion relativa respecto a la barra resaltadora*/
}
.menu a::after {     /*barra resalta palabras*/
    content: "";
    background-color: var(--secondary-color);
    position: absolute;   /*posicion absoluta respecto del menu*/
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.5s;   /*retardo en aparecer*/
}
.menu a.selected::after,
.menu a:hover::after {
    opacity: 0.8;
}
.menu a:hover {    /*al pasar el mouse cambia de color el menu*/
    color: var(--primary-color);
}
.open-menu,    /*el icono solo aparece en disp pequeños*/
.close-menu {    /*entonces lo ocultamos acá con display:none*/
    display: none;
    font-size: 50px;
}
.logotype {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY PARA DISPOSITIVOS PEQUEÑOS -------------------*/
@media (max-width: 950px) { 
/*MENU*/
.menu {
    flex-direction: column;    /*cambia el display flex de filas a columnas*/
    position: fixed;   /*desacoplar menu de barra sup y acoplarlo al viewport, dejarlo fijo*/
    left: 0;
    top: 0;
    width: 100%;  /*que ocupe todo el ancho del viewport*/
    align-items: center;   /*alinear al centro horizontalmente*/
    background-color: var(--menu-mobile-background-color);
    color: var(--text-color-inverse);
    height: 100%;   /*que ocupe todo el alto del viewport*/
    overflow-y: auto;  /*coloca un scroll en caso de q no sea vea todo el menu*/

    opacity: 0;/*menu invisible,transparente*/
    pointer-events: none;/*menú no clickeable*/

    transition: opacity 0.3s;  /*transicion de apertura/cierre de menu en disp moviles*/
}
.menu li {
    padding: 0;
}
.menu a {
    color: var(--text-color-inverse);
    line-height: 150px;
    text-transform: uppercase;
    font-size: 25px;
}
.open-menu,
.close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.close-menu {
    align-self: flex-end;/*CDO LOS DEMAS ITEMS ESTAN ALINEADOS, Y ESTE LO QUEREMOS DIFERENTE*/
    padding: 2px 16px;
    font-size: 70px;
    color: var(--text-color-inverse);
}

/*en disp moviles fijamos que el menu no sea vea cdo esta cerrado (opacity:0)*/
/*con el menu abierto, mostrar (opacity:1) y permitir clicks*/
.menu_opened {
    opacity: 1;
    pointer-events: all;
}
.menu a::after {
    content: none;
}
.menu a.selected::after,
.menu a:hover::after {
    opacity: 1;
}
.menu a:hover,
.menu a.selected {
    color: var(--secondary-color);
}

}